<h1>提交 MAC 地址和厂商及产品的对应关系</h1>
<p>通过提交以下信息，您可以帮助我们把 MAC 地址与厂商的对应关系数据库做得更好</p>
<form action="/feed" method="get">
  <table>
    <thead></thead>
    <tbody>
      <tr>
        <th>MAC 地址</th>
        <td>
          <input type="text" name="mac" id="form-mac"/>
        </td>
      </tr>
      <tr>
        <th>厂商</th>
        <td>
          <input type="text" name="vendor" id="form-vendor" />
        </td>
      </tr>
      <tr>
        <th>产品</th>
        <td>
          <input type="text" name="product" id="form-product" />
        </td>
      </tr>
      <tr>
        <th></th>
        <td>
          <input type="submit" value="提交" />
        </td>
      </tr>
    </tbody>
  </table>
</form>
