<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" charset="utf8">
    <link rel="stylesheet" href="assets/screen.css" type="text/less"/>
    <link rel="stylesheet" href="assets/jquery.FloatLabel.css" type="text/less"/>
    <script src="assets/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="assets/jquery.FloatLabel.js" type="text/javascript"></script>
    <script src="assets/jquery.FloatOption.js" type="text/javascript"></script>
    <script src="assets/fastclick.js" type="text/javascript"></script>
    <script src="assets/all.js" type="text/javascript"></script>

    <title><%= title %></title>
  </head>
  <body>
    <%= yield %>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '53cf57708bfdf7705d000bd9');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
