<h1>非常感谢</h1>
<p>您提交的以下数据：</p>
<table>
  <thead></thead>
  <tbody>
    <tr>
      <th>MAC 地址</th>
      <td>
        <%= mac %>
      </td>
    </tr>
    <tr>
      <th>厂商</th>
      <td>
        <%= vendor %>
      </td>
    </tr>
    <tr>
      <th>产品</th>
      <td>
        <%= product %>
      </td>
    </tr>
  </tbody>
</table>
<p>已经录入我们的数据库。</p>
<p><a href="/">提交更多</a></p>
