<html>
  <head>
    <title>submit vendor info for your MAC addresses</title>
  </head>
  <body>
    <form action="/feed" method="get">
      <table>
        <thead></thead>
        <tbody>
          <tr>
            <th>MAC address</th>
            <td>
              <input type="text" name="mac" id="form-mac"/>
            </td>
          </tr>
          <tr>
            <th>Vendor</th>
            <td>
              <input type="text" name="vendor" id="form-vendor" />
            </td>
          </tr>
          <tr>
            <th>Product</th>
            <td>
              <input type="text" name="product" id="form-product" />
            </td>
          </tr>
          <tr>
            <th></th>
            <td>
              <input type="submit" value="submit" />
            </td>
          </tr>
        </tbody>
      </table>
    </form>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '53cf57708bfdf7705d000bd9');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
